@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  width: 100%;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}