@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Scrollbars */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

.sub-menu .menu-item{
  background-color: #f4f4f5;
}